<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Hello, Person</div>
<a href="/mainPerson">main page</a>
<div><a href="sendEmail">Send email</a></div>
</body>
</html>
