<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Login </title>
</head>
<body>
<form action="/login" method="post">
    <div><label> Username : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <div><input type="submit" value="Sign In"/></div>
</form>
<a href="registration">Add new user</a>
<br>
<br>
<div>Login: q; Password: q</div>
</body>
</html>
